# {{ ansible_managed }}

Port {{ openssh_sshd_port }}
{% for listenaddress in openssh_sshd_listenaddresses %}
ListenAddress {{ listenaddress }}
{% endfor %}
Protocol {{ openssh_sshd_protocol }}
{% for hostkeytype in openssh_sshd_hostkeytypes %}
HostKey {{ openssh_conf_dir }}/ssh_host_{{ hostkeytype }}_key
{% endfor %}

AcceptEnv {{ openssh_sshd_acceptenv }}
AddressFamily {{ openssh_sshd_addressfamily }}
AllowAgentForwarding {{ openssh_sshd_allowagentforwarding }}

SyslogFacility {{ openssh_sshd_syslogfacility }}
LogLevel {{ openssh_sshd_loglevel }}

LoginGraceTime {{ openssh_sshd_logingracetime }}
PermitRootLogin {{ openssh_sshd_permitrootlogin }}
MaxAuthTries 4


PubkeyAuthentication yes
PubkeyAcceptedKeyTypes {{ openssh_sshd_pubkeyacceptedkeytypes }}
AuthorizedKeysFile {{ openssh_sshd_authorizedkeysfile }}

HostbasedAuthentication no
PasswordAuthentication no
PermitEmptyPasswords no
ChallengeResponseAuthentication no
GSSAPIAuthentication no
GSSAPICleanupCredentials yes

AllowAgentForwarding yes
AllowTcpForwarding yes
X11Forwarding no

TCPKeepAlive {{ openssh_sshd_tcpkeepalive }}
ClientAliveInterval {{ openssh_sshd_clientaliveinterval }}
ClientAliveCountMax {{ openssh_sshd_clientalivecountmax }}

UsePAM {{ openssh_sshd_usepam }}
UseDNS {{ openssh_sshd_usedns }}
Compression {{ openssh_sshd_compression }}
PermitTTY {{ openssh_sshd_permittty }}

{% for subsystem in openssh_sshd_subsystems %}
Subsystem {{ subsystem }}
{% endfor %}
